# Lesson 3 Practice: Pandas Part 1

Use this notebook to follow along with the lesson in the corresponding lesson notebook: [L03-Pandas_Part1-Lesson.ipynb](./L03-Pandas_Part1-Lesson.ipynb).

## Instructions
Follow along with the teaching material in the lesson. Throughout the tutorial sections labeled as "Tasks" are interspersed and indicated with the icon: ![Task](http://icons.iconarchive.com/icons/sbstnblnd/plateau/16/Apps-gnome-info-icon.png). You should follow the instructions provided in these sections by performing them in the practice notebook.  When the tutorial is completed you can turn in the final practice notebook. For each task, use the cell below it to write and test your code.  You may add additional cells for any task as needed or desired.

## Task 1a: Setup

+ `numpy` as `np`
+ `pandas` as `pd`

In [2]:
import numpy as np
import pandas as pd

## Task 2a Create a `pd.Series` object

+ Create a series of your own design.

In [4]:
my_series = pd.Series([True, False, True, False, True])

## Task 2b: Creating a DataFrame

+ Create a pd.DataFrame object from a Python dictionary. Design the data as you like.

In [4]:
my_dataFrame = pd.DataFrame({'english':[1, 2, 3, 4], 'spanish': [5,6,7,8]})
my_dataFrame

   english  spanish
0        1        5
1        2        6
2        3        7
3        4        8

## Task 2c: Create DataFrame with labels

+ Create a 10x5 dataframe of random numeric integers that follow a [Guassian (normal) Distribution](https://docs.scipy.org/doc/numpy-1.15.0/reference/generated/numpy.random.normal.html). 
  + Center the distrubtion at 0.85.
  + We will use these values as assumed grades for a class of students
+ Adjust the row indexes to be the names of hypothetical students.
+ Adjust the columsn to be the names of hypothetical projects, homework, exam names, etc.

In [11]:
dist = np.random.normal(0.85, scale =1, size = (10,5))

print(dist)
df = pd.DataFrame(dist, columns=('Homework','Exam1', 'Exam2', 'Exam3', 'Class Project'), index=('Evan','Rick','Rishi','Wilson','Tarah','Emma','Emily','Conner','Olga','Seanna'))
print(df)

[[ 2.00982055e+00  6.74104980e-01  1.98426586e+00  1.49290854e+00
  -1.76974507e-01]
 [ 1.07139045e+00  6.21284261e-01  1.73647239e+00  7.66112814e-01
   9.58018813e-01]
 [ 3.48980972e-01  1.65588465e+00  1.94988060e-01  1.15214275e+00
   1.23590160e+00]
 [-7.01982718e-01  7.57835088e-01 -3.54145860e-01 -6.41422534e-01
   1.32941067e+00]
 [ 2.00461221e+00  5.41102775e-01 -2.02955306e-01  1.00536976e+00
   3.00551328e-01]
 [ 1.05290218e+00  7.21291492e-01  5.20412498e-01  4.85363923e-01
   2.33158671e+00]
 [ 2.02561356e+00  3.04313560e-01  1.13973599e-01 -2.06954817e-02
   1.21088553e-03]
 [ 8.87037303e-01  1.04704944e+00  8.26430150e-01  2.19839078e+00
   1.28332639e+00]
 [ 3.02788343e+00  1.79147726e+00  1.96650265e+00  2.02125636e-01
   3.71700066e+00]
 [ 1.77057422e+00  2.33417351e+00  3.52536816e-01  5.00418432e-02
   6.42552404e-01]]
        Homework     Exam1     Exam2     Exam3  Class Project
Evan    2.009821  0.674105  1.984266  1.492909      -0.176975
Rick    1.071390  0.621284  1.736472  0.766113       0.958019
Rishi   0.348981  1.655885  0.194988  1.152143       1.235902
Wilson -0.701983  0.757835 -0.354146 -0.641423       1.329411
Tarah   2.004612  0.541103 -0.202955  1.005370       0.300551
Emma    1.052902  0.721291  0.520412  0.485364       2.331587
Emily   2.025614  0.304314  0.113974 -0.020695       0.001211
Conner  0.887037  1.047049  0.826430  2.198391       1.283326
Olga    3.027883  1.791477  1.966503  0.202126       3.717001
Seanna  1.770574  2.334174  0.352537  0.050042       0.642552

## Task 3a: Import the iris.csv file

+ Import the iris dataset.
+ Take a look at the `pd.read_csv` online documentation. Write example code in a Markup cell for how you would import this file if it were tab-delimited.

In [12]:
iris_df = pd.read_csv('./iris.csv')
print(iris_df)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

To import this file id it were tab-delimited I would execute the same code as in the above cell. pd.read_csv can open both comma-separated and tab-delimited formats.

## Task 4a: Explore Data

 + Use `head`, `tail` and `sample` with the iris dataset.
 + Do the same with the dataset you created in task 2c.

In [13]:
print(iris_df.head(3))
print(iris_df.tail(3))
print(iris_df.sample(2))
print(df.head(3))
print(df.tail(3))
print(df.sample(2))

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
     sepal_length  sepal_width  petal_length  petal_width    species
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica
     sepal_length  sepal_width  petal_length  petal_width    species
143           6.8          3.2           5.9          2.3  virginica
43            5.0          3.5           1.6          0.6     setosa
       Homework     Exam1     Exam2     Exam3  Class Project
Evan   2.009821  0.674105  1.984266  1.492909      -0.176975
Rick   1.071390  0.621284  1.736472  0.766113       0.958019
Rishi  0.348981  1.655885  0.194988  1.152143       1.235902
        Homework     Exam1     Exam2     Exam3  Class Project
Conner  0.887037  1.047049  0.826430  2.198391       1.283326
Olga    3.027883  1.791477  1.966503  0.202126       3.717001
Seanna  1.770574  2.334174  0.352537  0.050042       0.642552
       Homework     Exam1     Exam2     Exam3  Class Project
Emily  2.025614  0.304314  0.113974 -0.020695       0.001211
Rishi  0.348981  1.655885  0.194988  1.152143       1.235902

## Task 5a: Viewing columns and rows

+ Display the columns and indexes of the iris dataset.
+ Do the same with the dataset you created in Task 2c.

In [15]:
print(iris_df.columns)
print(iris_df.index)
print(df.columns)
print(df.index)

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')
RangeIndex(start=0, stop=150, step=1)
Index(['Homework', 'Exam1', 'Exam2', 'Exam3', 'Class Project'], dtype='object')
Index(['Evan', 'Rick', 'Rishi', 'Wilson', 'Tarah', 'Emma', 'Emily', 'Conner',
       'Olga', 'Seanna'],
      dtype='object')

## Task 5b: Get Values

+ Check the version of `pandas` you have 
+ Use the appropriate method to convert the iris data to a dictionary.
+ Do the same with the dataset you created in Task 2c.

In [27]:
print(pd.__version__)
iris_array = iris_df.to_dict()
my_array = df.to_dict()
#print(iris_array)
#print(my_array)

1.0.1

## Task 5c: Using `loc`

+ Use any iris dataframe to:
  + Select a row slice with `loc`.
  + Select a row and column slice with `loc`.
  + Take a look at the [Pandas documentation for the `at` selector](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.at.html). Use what you learn there to select a single item with Pandas `at` accessor.

In [40]:
locrow = iris_df.loc[3]
print(locrow)

locrow_column = iris_df.loc[3,'sepal_length'] 

print(locrow_column)

iris_df.at[1, 'sepal_length']

sepal_length       4.6
sepal_width        3.1
petal_length       1.5
petal_width        0.2
species         setosa
Name: 3, dtype: object
4.6

4.9

## Task 5d: Using `iloc`

+ Use any iris dataframe to:    
    + Select a row slice with `iloc`.
    + Select a row and column slice with `iloc`.
    + Take a look at the [Pandas documentation for the `iat` selector](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iat.html). Use what you learn there to select a single item with Pandas `iat` accessor.

In [46]:
iloc_row = iris_df.iloc[1]
print(iloc_row)

iloc_row_column = iris_df.iloc[1, 4]
print(iloc_row_column)

iris_df.iat[1,2]

sepal_length       4.9
sepal_width          3
petal_length       1.4
petal_width        0.2
species         setosa
Name: 1, dtype: object
setosa

1.4

## Task 5e: Boolean Indexing

+ Create subsets of the iris dataset using boolean indexes that:
    + Use one boolean operator.
    + Use two boolean operators.

In [54]:
#print(iris_df.head())

LONG_petal = iris_df[iris_df['petal_length'] > 1.4].head()
print(LONG_petal)
setosa = iris_df[iris_df['species'] == 'setosa'].head()
print(setosa)

    sepal_length  sepal_width  petal_length  petal_width species
3            4.6          3.1           1.5          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
7            5.0          3.4           1.5          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa